$nav_height: 90px;
$footer_height: 300px;

$screen_size-x-x-large: 2500px;
$screen_size-x-large: 2000px;
$screen_size-large: 1500px;
$screen_size-medium: 1280px;
$screen_size-small: 900px;
$screen_size-x-small: 600px;
$screen_size-x-x-small: 400px;