$nav_height: 110px;
$footer_height: 300px;

$screen_size-x-x-large: 2500px;
$screen_size-x-large: 2000px;
$screen_size-large: 1500px;
$screen_size-medium: 1280px;
$screen_size-small: 1050px;
$screen_size-x-small: 862px;
$screen_size-x-x-small: 600px;

$left-side_indent-x-x-large: 90px;
$left-side_indent-x-large: 90px;
$left-side_indent-large: 90px;
$left-side_indent-medium: 80px;
$left-side_indent-x-small: 50px;
$left-side_indent-x-x-small: 30px;
