.btn {
    background-color: transparent;
    position: relative;
    padding: 10px 12px;
    border-radius: 4%;
    letter-spacing: 2px;
    margin: 10px;
    font-weight: 600;

    &:hover {
        box-shadow: 0px 0px 0px 1px $color-primary inset;
        cursor: pointer;
    }
    &:active {
        transform: scale(.96);
    }
}

.btn-1 {
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: transparent;
    position: relative;
    padding: 10px 12px;
    border-radius: 4%;
    letter-spacing: 2px;
    margin: 10px;
    font-weight: 600;

    &:hover {
        box-shadow: 0px 0px 0px 1px $color-primary inset;
        cursor: pointer;
    }
    &:active {
        transform: scale(.96);
    }
}

.btn-1-alt {
    color: white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    position: relative;
    padding: 10px 12px;
    border-radius: 4%;
    letter-spacing: 2px;
    margin: 10px;
    font-weight: 600;

    &:hover {
        box-shadow: 0px 0px 0px 1px $color-primary inset;
        cursor: pointer;
    }
    &:active {
        transform: scale(.96);
    }
}

.btn-2 {
    color: $color-tertiary;
    border: 1px solid $color-tertiary;
    position: relative;
    padding: 10px 12px;
    border-radius: 4%;
    letter-spacing: 2px;
    margin: 10px;
    font-weight: 600;

    &:hover {
        box-shadow: 0px 0px 0px 1px $color-tertiary inset;
        cursor: pointer;
    }
    &:active {
        transform: scale(.96);
    }
}

.btn-2-alt {
    color: white;
    background-color: $color-tertiary;
    border: 1px solid $color-tertiary;
    position: relative;
    padding: 10px 12px;
    border-radius: 4%;
    letter-spacing: 2px;
    margin: 10px;
    font-weight: 600;

    &:hover {
        box-shadow: 0px 0px 0px 1px $color-tertiary inset;
        cursor: pointer;
    }
    &:active {
        transform: scale(.96);
    }
}


.btn-lg {
    padding: 12px 20px; 
}

.btn-sm {
    padding: 5px 7px;
    letter-spacing: 1px;
}